* {
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Spline+Sans+Mono:wght@300&display=swap');

:root {
    --primary: #FFF2F2;
    --second: #F47C7C;
    --third: #FAD4D4;
    --fourth: #44c767;
    --fifth: #F32424;
}
/* main content styles */
.main-body {
    background: var(--second);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    background: var(--primary);
    height: 70vh;
    width: 70vw;
    text-align: center;
}

main h2 {
    color: var(--second);
    margin-top: 15px;
    font-family: 'Spline Sans Mono', monospace;
    font-size: 32px;
}
/* timer style */
#count-down {
    color: var(--fourth);
    font-size: 22px;
    margin-top: 10px;
}
/* question and answers */
.quiz {
    margin-top: 20px;
}

.question, .answer {
    font-family: 'Nunito', sans-serif;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.question {
    font-size: 22px;
}

.answer {
    background: var(--third);
    margin-top: 22px;
    display: flex;
    flex-wrap: wrap;
    font-size: 22px;
}



/* button styles */

.my-btn {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    margin-top: 15px;
}
.my-btn:hover {
	background-color:#5cbf2a;
}

@media screen and (max-device-width: 500px){
    .question {
        height: 6vh;
    }
    
    .answer {
        height: 10vh;
    }

    .question, .answer {
        font-size: 16px;;
    }

    .answer {
        margin-top: 1vh;
    }

    main h2 {
        margin-top: 25px;
        font-size: 24px;
    }

    .main-content {
        height: 95vh;
        width: 95vw;
    }

    #countdown {
        font-size: 18px;
        margin-top: 1vh;
    }
}